{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GameOfLive{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'leaderboard/style.css' %}">
</head>
<body>
    <div class="menu-container">
        <div class="menu-wrapper">
            <div class="menu-shadow"></div>
            <div class="menu">
                <div class="menu-item">
                    <a href="{% url 'home' %}">Welcome</a> 
                </div>
                <div class="menu-item">
                    <a href="{% url 'leaderboard' %}">Leaderboard</a> 
                </div>
                <div class="menu-item">
                    <a href="{% url 'events' %}">Events</a> 
                </div>
                
        </div>
        </div>
    </div>

    {% block content %}
    <!-- Content of each site -->
    {% endblock %}

    <script src="{% static 'leaderboard/script.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
